{% extends 'base.html' %}
 {% block content %}
 <div class="container">
    <div class="row">
        <div class="row g-4">
            <div class="col-6">
                <div class="p-3 border " style="background-color: #dbc9c9;">

 <h2>{{cleaning.hostel}}</h2>
 <h3>Room:{{cleaning.room}}</h3>
 <h3>Time for cleaning:{{cleaning.time}}</h3>
 <a href="{% url 'cleaningdelete-page' object.id %}"><button type="button" class="btn btn-danger">Delete-record</button></a>
 <a href="{% url 'cleaningupdate-page' object.id %}"><button type="button" class="btn btn-success">Update-record</button></a>
</div>
</div>
</div></div>
</div>
 
 {% endblock content %}