{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="row g-4">
{% for cleaning in wingcleanings %}
{% if cleaning.name == user    %}
<div class="col-6">
    <div class="p-3 border " style="background-color: #dbc9c9;">
<h2><a href="{% url 'wingcleaningdetail-page' cleaning.id %}" class="links">{{cleaning.hostel}}</a></h2>
<h5>{{cleaning.timeapply }}</h5>
<h3>Room:{{cleaning.Room}}</h3>
<h3> SHIFT:{{cleaning.shift}}</h3>
</div>
</div>
{% endif %}
{% endfor %}

</div>
</div>
</div>


{% endblock content %}